# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
build/
dist/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints

# Datasets
# We want the lecturer to see the data, so we DO NOT ignore these
# !data/raw/*
# !data/processed/*

# Models
# We want the lecturer to see the trained .joblib files so the app works
# !models/*

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/